# **Análise de Métodos de Pagamento no Brasil**

## **1. Carregando o Dataset**
<span style="color: #B76E79;">Carregue o dataset **"brazilian_payment_methods.csv"** usando o Pandas e exiba as primeiras 5 linhas.</span>

---

## **2. Processamento Inicial**
### **2.1. Troca dos Nomes das Colunas para Português**
<span style="color: #B76E79;">Renomeie as colunas do dataset conforme as traduções fornecidas.</span>

### **2.2. Seleção de Colunas**
<span style="color: #B76E79;">Selecione apenas as colunas **YearMonth, quantityPix e valuePix** e exiba as primeiras 10 linhas.</span>


### **2.3. Filtragem de Dados**
<span style="color: #B76E79;">Filtre o dataset para exibir apenas as linhas onde o valor total das transações **PIX (valuePix) foi maior que 1.000.000**.</span>


### **2.4. Criação de Nova Coluna**
<span style="color: #B76E79;">Crie uma nova coluna chamada **averagePixValue** que contenha o valor médio por transação PIX (*valuePix / quantityPix*).</span>

---

## **3. Análise Exploratória de Dados**
### **3.1. Agrupamento de Dados (Groupby)**
<span style="color: #B76E79;">Agrupe os dados por ano (**extraído da coluna YearMonth**) e calcule a soma total do valor das transações PIX (**valuePix**) para cada ano.</span>

### **3.2. Comparação entre PIX e Boleto**
<span style="color: #B76E79;">Compare o valor total das transações PIX (valuePix) com o valor total das transações de boleto (valueBrazilianBoletoPayment) ao longo do tempo. Em qual mês/ano o PIX ultrapassou o boleto em valor total?.</span>

### **3.3. Tendência de Declínio do DOC**
<span style="color: #B76E79;">Analise a tendência de declínio do valor total das transações DOC (valueDOC) ao longo do tempo. Em qual mês/ano o DOC começou a perder participação significativamente?.</span>

### **3.4. Média e Mediana**
<span style="color: #B76E79;">Calcule a **média** e a **mediana** do valor total das transações TED (**valueTED**).</span>

### **3.5. Agrupamento e Agregação**
<span style="color: #B76E79;">Agrupe os dados por ano e calcule a **média do valor das transações de boleto** (**valueBrazilianBoletoPayment**) para cada ano.</span>

---

## **4. Visualização e Interpretação dos Dados**
### **4.1. Gráfico de Linha para Evolução do PIX**
<span style="color: #B76E79;">Crie um **gráfico de linha** para mostrar a evolução do valor total das transações **PIX (valuePix)** ao longo do tempo (**usando a coluna YearMonth como eixo X**).</span>

### **4.2. Substituição de Valores**
<span style="color: #B76E79;">Substitua os valores **0** na coluna **quantityDOC** por **NaN** (valores nulos).</span>

### **4.3. Correlação entre Métodos de Pagamento**
<span style="color: #B76E79;">Calcule a **correlação** entre o valor total das transações **PIX (valuePix)** e **TED (valueTED)**.
O que você pode inferir sobre a relação entre esses dois métodos de pagamento?</span>

### **4.4. Comparação de Crescimento entre PIX e TED**
<span style="color: #B76E79;">Compare o **crescimento percentual** do valor total das transações **PIX (valuePix)** e **TED (valueTED)** ao longo do tempo.</span>

### **4.5. Participação de Cada Método de Pagamento**
<span style="color: #B76E79;">Calcule a **participação percentual** de cada método de pagamento (**PIX, TED, TEC, Boleto, DOC**) no valor total das transações para o **último mês disponível no dataset**.</span>

**<span style="color:rgb(163, 174, 17);">Importação da *libs* para o desenvolvimento do projeto**</span>

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**<span style="color:rgb(163, 174, 17);">O *read_csv* vai ler o dataset no diretório local da maquina, tranformar em um Datafrema do Pandas e mostrar os dados no formato tabular!**</span>

In [101]:
df = pd.read_csv(r"C:\Users\uniao\OneDrive\Área de Trabalho\Cursos 2024\Soulcode\Projeto_Metodo_Pagamento\datasets\brazilian_payment_methods - brazilian_payment_methods.csv")

df.head(5)

,YearMonth,quantityPix,valuePix,quantityTED,valueTED,quantityTEC,valueTEC,quantityBankCheck,valueBankCheck,quantityBrazilianBoletoPayment,valueBrazilianBoletoPayment,quantityDOC,valueDOC
0,202405,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00
1,202404,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00
2,202403,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00
3,202402,4367133.78,1718217.65,65805.87,2981226.45,60.01,109.32,10373.38,37076.26,332269.47,463066.01,61.89,34.21
4,202401,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   YearMonth                       101 non-null    int64
 1   quantityPix                     101 non-null    float64
 2   valuePix                        101 non-null    float64
 3   quantityTED                     101 non-null    float64
 4   valueTED                        101 non-null    float64
 5   quantityTEC                     101 non-null    float64
 6   valueTEC                        101 non-null    float64
 7   quantityBankCheck               101 non-null    float64
 8   valueBankCheck                  101 non-null    float64
 9   quantityBrazilianBoletoPayment  101 non-null    float64
 10  valueBrazilianBoletoPayment     101 non-null    float64
 11  quantityDOC                     101 non-null    float64
 12  valueDOC                        101 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 10.4 KB

**<span style="color:rgb(163, 174, 17);">Criar uma cópia como backup é uma boa prática para preservar os dados originais**</span>

In [114]:
df_backup = df.copy()

**<span style="color:rgb(163, 174, 17);">Transfomação nos nomes das colunas  é uma prática essencial para melhorar a legibilidade, padronização e usabilidade dos dados.**</span>

In [115]:
df_backup = df.rename(columns={
    "YearMonth": "MesReferencia",
    "quantityPix": "NumeroTransacoesPIX",
    "valuePix": "ValorTotalPIX",
    "quantityTED": "NumeroTransacoesTED",
    "valueTED": "ValorTotalTED",
    "quantityTEC": "NumeroTransacoesTEC",
    "valueTEC": "ValorTotalTEC",
    "quantityBankCheck": "NumeroTransacoesCheque",
    "valueBankCheck": "ValorTotalCheque",
    "quantityBrazilianBoletoPayment": "NumeroTransacoesBoleto",
    "valueBrazilianBoletoPayment": "ValorTotalBoleto",
    "quantityDOC": "NumeroTransacoesDOC",
    "valueDOC": "ValorTotalDOC",
    # interessante trazer -> "NumeroTransacoesCartaoCredito",
    # interessante trazer -> "ValorTotalCartaoCredito",
})

df_backup.head(5)

,MesReferencia,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC
0,202405,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00
1,202404,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00
2,202403,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00
3,202402,4367133.78,1718217.65,65805.87,2981226.45,60.01,109.32,10373.38,37076.26,332269.47,463066.01,61.89,34.21
4,202401,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58

**<span style="color:rgb(163, 174, 17);">Precisamos converter a coluna *MesReferencia* para o formato datetime**</span>

In [116]:
df_backup['MesReferencia'] = pd.to_datetime(df_backup['MesReferencia'], format='%Y%m')

**<span style="color:rgb(163, 174, 17);">1. Iremos criar duas colunas extraindo informações do ano e do mês (*dt.year, dt.month*) a partir da coluna MesReferenciaos.<br>2. Reordenamos colocando 'Ano' e 'Mes' no início. 3.precisa remover a coluna MesReferencia depois de criar 'Ano' e 'Mes'**</span>

In [117]:
df_backup['Ano'] = df_backup['MesReferencia'].dt.year
df_backup['Mes'] = df_backup['MesReferencia'].dt.month

df_backup = df_backup[['Ano', 'Mes'] + list(df_backup.columns[:-2])].drop('MesReferencia', axis=1)

In [118]:
df_backup[['Ano', 'NumeroTransacoesPIX', 'ValorTotalPIX']]

      Ano  NumeroTransacoesPIX  ValorTotalPIX
0    2024           5228826.97     2137205.79
1    2024           4924681.00     2083746.68
2    2024           4903392.34     1936188.21
3    2024           4367133.78     1718217.65
4    2024           4371541.99     1818473.97
..    ...                  ...            ...
96   2016                 0.00           0.00
97   2016                 0.00           0.00
98   2016                 0.00           0.00
99   2016                 0.00           0.00
100  2016                 0.00           0.00

[101 rows x 3 columns]

In [144]:
filtro = df_backup.ValorTotalPIX > 1000000

filtro_ValorTotalPIX = df_backup.loc[filtro, ['ValorTotalPIX']]

filtro_ValorTotalPIX

    ValorTotalPIX
0      2137205.79
1      2083746.68
2      1936188.21
3      1718217.65
4      1818473.97
5      1933836.67
6      1740874.02
7      1666062.39
8      1539042.27
9      1529362.91
10     1422663.64
11     1365737.17
12     1343030.27
13     1191585.30
14     1280326.31
15     1055639.24
16     1111232.73
17     1221473.50
18     1075433.80
19     1046436.42
20     1019529.64

In [120]:
df_backup["valorMedioPix"] = (df_backup["ValorTotalPIX"] / df_backup["NumeroTransacoesPIX"]).fillna(0)
df_backup

,Ano,Mes,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC,valorMedioPix
0,2024,5,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00,0.41
1,2024,4,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00,0.42
2,2024,3,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00,0.39
3,2024,2,4367133.78,1718217.65,65805.87,2981226.45,60.01,109.32,10373.38,37076.26,332269.47,463066.01,61.89,34.21,0.39
4,2024,1,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2016,5,0.00,0.00,38397.79,1284857.76,658.08,1242.92,49391.10,85525.27,210245.33,243361.74,15222.38,12172.78,0.00
97,2016,4,0.00,0.00,36144.63,1284108.75,586.71,1029.40,45938.34,79444.79,195789.71,226725.92,14376.42,11632.65,0.00
98,2016,3,0.00,0.00,37762.98,1387738.67,666.89,1250.64,50443.05,85203.32,207938.76,239690.04,15322.97,12303.86,0.00
99,2016,2,0.00,0.00,33986.29,1184928.57,576.42,1079.27,46957.82,79927.23,197575.71,225107.82,14455.60,11778.74,0.00
100,2016,1,0.00,0.00,30728.99,1211165.94,499.31,939.45,45294.31,82800.04,189912.22,222612.29,15709.98,12016.73,0.00

**<span style="color:rgb(163, 174, 17);">Aplicando um filtro para retornar as linhas que contem valores 0**</span>

In [121]:
df_backup.loc[(df_backup == 0).any(axis=1)]

,Ano,Mes,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC,valorMedioPix
0,2024,5,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00,0.41
1,2024,4,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00,0.42
2,2024,3,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00,0.39
43,2020,10,0.00,0.00,193914.69,2529825.54,755.53,1585.81,21888.85,53427.37,336428.41,363359.84,19496.70,13355.08,0.00
44,2020,9,0.00,0.00,187549.69,2538287.06,697.58,1445.03,21590.82,53174.54,330602.01,350762.59,23097.50,16065.06,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2016,5,0.00,0.00,38397.79,1284857.76,658.08,1242.92,49391.10,85525.27,210245.33,243361.74,15222.38,12172.78,0.00
97,2016,4,0.00,0.00,36144.63,1284108.75,586.71,1029.40,45938.34,79444.79,195789.71,226725.92,14376.42,11632.65,0.00
98,2016,3,0.00,0.00,37762.98,1387738.67,666.89,1250.64,50443.05,85203.32,207938.76,239690.04,15322.97,12303.86,0.00
99,2016,2,0.00,0.00,33986.29,1184928.57,576.42,1079.27,46957.82,79927.23,197575.71,225107.82,14455.60,11778.74,0.00
100,2016,1,0.00,0.00,30728.99,1211165.94,499.31,939.45,45294.31,82800.04,189912.22,222612.29,15709.98,12016.73,0.00

In [127]:
filtro_valorPix_Ordenado = df_backup.sort_values('ValorTotalPIX', ascending=False)
filtro_valorPix_Ordenado

,Ano,Mes,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC,valorMedioPix
0,2024,5,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00,0.41
1,2024,4,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00,0.42
2,2024,3,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00,0.39
5,2023,12,4804459.10,1933836.67,80202.26,3629758.88,1152.37,2498.31,11241.91,39208.22,337552.05,484391.91,1412.03,1399.42,0.40
4,2024,1,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2018,11,0.00,0.00,63260.12,1592177.22,907.08,1777.73,33166.59,67529.93,222653.29,274197.58,19765.18,14050.69,0.00
67,2018,10,0.00,0.00,63549.45,1761073.42,704.52,1455.95,36378.22,78974.52,237211.13,293876.51,21410.73,14996.84,0.00
68,2018,9,0.00,0.00,57174.55,1487757.33,796.05,1645.86,31573.12,65302.12,209891.65,253488.79,18624.98,13412.06,0.00
69,2018,8,0.00,0.00,62669.22,1725017.40,724.91,1463.21,35035.81,74332.45,226124.29,274665.61,20292.28,14621.11,0.00
100,2016,1,0.00,0.00,30728.99,1211165.94,499.31,939.45,45294.31,82800.04,189912.22,222612.29,15709.98,12016.73,0.00

In [145]:
df_backup.loc[df_backup.loc[filtro_ValorTotalPIX,  ['Mes', 'ValorTotalPIX']]]

KeyError: "None of [Index([('V', 'a', 'l', 'o', 'r', 'T', 'o', 't', 'a', 'l', 'P', 'I', 'X')], dtype='object')] are in the [index]"

**<span style="color:rgb(163, 174, 17);">O *shape* é um atributo que recebe valores e retorna informações.<br>Quantitativo das linhas e das colunas**</span>

**<span style="color:rgb(163, 174, 17);">O *dtypes* é um atributo do dataframe que armagena valores e retorna informações sobre os tipo de dados.**</span>

Anlises a base de dados para verificar duplicidades e inconcistencia. Se atentar Para normalizar a sitação.

In [111]:

df_unificado = pd.merge(df_backup, df_cartao, left_index=True, right_index=True, how='inner')

display(df_unificado)

NameError: name 'df_cartao' is not defined

In [ ]:
df_unificado.astype({'transacoes': float, 'valor_total': float})

,MesReferencia,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC,transacoes,valor_total
0,202405,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00,132999861.0,3.343221e+09
1,202404,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00,20025029.0,2.531551e+10
2,202403,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00,29692198.0,1.603150e+10
3,202402,4367133.78,1718217.65,65805.87,2981226.45,60.01,109.32,10373.38,37076.26,332269.47,463066.01,61.89,34.21,41384896.0,3.920520e+10
4,202401,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58,76072253.0,3.827369e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,201605,0.00,0.00,38397.79,1284857.76,658.08,1242.92,49391.10,85525.27,210245.33,243361.74,15222.38,12172.78,46846368.0,7.378527e+09
97,201604,0.00,0.00,36144.63,1284108.75,586.71,1029.40,45938.34,79444.79,195789.71,226725.92,14376.42,11632.65,28619561.0,7.043723e+09
98,201603,0.00,0.00,37762.98,1387738.67,666.89,1250.64,50443.05,85203.32,207938.76,239690.04,15322.97,12303.86,172862720.0,1.936703e+10
99,201602,0.00,0.00,33986.29,1184928.57,576.42,1079.27,46957.82,79927.23,197575.71,225107.82,14455.60,11778.74,94256862.0,2.852760e+10
100,201601,0.00,0.00,30728.99,1211165.94,499.31,939.45,45294.31,82800.04,189912.22,222612.29,15709.98,12016.73,95303834.0,4.577320e+10

In [ ]:
cop_df_unificado = df_unificado.copy()

In [ ]:
cop_df_unificado['transacoes'] = df_unificado['transacoes'].apply(lambda x: f"{x:.2f}")
cop_df_unificado['valor_total'] = df_unificado['valor_total'].apply(lambda x: f"{x:.2f}")

In [ ]:
cop_df_unificado

,MesReferencia,NumeroTransacoesPIX,ValorTotalPIX,NumeroTransacoesTED,ValorTotalTED,NumeroTransacoesTEC,ValorTotalTEC,NumeroTransacoesCheque,ValorTotalCheque,NumeroTransacoesBoleto,ValorTotalBoleto,NumeroTransacoesDOC,ValorTotalDOC,transacoes,valor_total
0,202405,5228826.97,2137205.79,69023.11,3482036.97,0.00,0.00,10467.85,40133.55,349180.92,506302.82,0.00,0.00,132999861.00,3343221244.00
1,202404,4924681.00,2083746.68,70647.15,3652606.48,0.00,0.00,11179.22,43295.40,361633.28,524619.69,0.00,0.00,20025029.00,25315508210.00
2,202403,4903392.34,1936188.21,67565.05,3333054.27,0.00,0.00,10122.46,36644.55,336435.46,469047.59,0.00,0.00,29692198.00,16031503027.00
3,202402,4367133.78,1718217.65,65805.87,2981226.45,60.01,109.32,10373.38,37076.26,332269.47,463066.01,61.89,34.21,41384896.00,39205204175.00
4,202401,4371541.99,1818473.97,70343.25,3337344.85,387.18,815.94,11919.12,41615.89,363550.32,516702.44,600.76,616.58,76072253.00,3827368792.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,201605,0.00,0.00,38397.79,1284857.76,658.08,1242.92,49391.10,85525.27,210245.33,243361.74,15222.38,12172.78,46846368.00,7378527495.00
97,201604,0.00,0.00,36144.63,1284108.75,586.71,1029.40,45938.34,79444.79,195789.71,226725.92,14376.42,11632.65,28619561.00,7043723427.00
98,201603,0.00,0.00,37762.98,1387738.67,666.89,1250.64,50443.05,85203.32,207938.76,239690.04,15322.97,12303.86,172862720.00,19367028285.00
99,201602,0.00,0.00,33986.29,1184928.57,576.42,1079.27,46957.82,79927.23,197575.71,225107.82,14455.60,11778.74,94256862.00,28527597634.00
100,201601,0.00,0.00,30728.99,1211165.94,499.31,939.45,45294.31,82800.04,189912.22,222612.29,15709.98,12016.73,95303834.00,45773196467.00

In [ ]:
copy_cartao_credito.to_csv("dadosPagamento.csv", index=False, encoding="utf-8")