In [1]:
import pandas as pd
import random

dados_cartao_credito = [
    {"NumeroTransacoesCartaoCredito": random.randint(1000000, 200000000), "ValorTotalCartaoCredito": random.randint(1000000000, 50000000000)}
    for _ in range(101)
]

df_cartao_credito = pd.DataFrame(dados_cartao_credito)

display(df_cartao_credito)

     NumeroTransacoesCartaoCredito  ValorTotalCartaoCredito
0                        108889702              45240604924
1                        159982883               1788391587
2                        147875334              31727844565
3                        185810790               4251524739
4                        163784772              47633090269
..                             ...                      ...
96                         3397440              33851014378
97                        49746934               9915718105
98                        65116093              28893747635
99                        57891527              33328529868
100                      122173989              28114206377

[101 rows x 2 columns]

In [2]:
copy_cartao_credito = df_cartao_credito.copy()

In [5]:
df_cartao_credito["NumeroTransacoesCartaoCredito"] = copy_cartao_credito["NumeroTransacoesCartaoCredito"].apply(lambda x: f"{x:,.0f}".replace(",", "."))
df_cartao_credito["ValorTotalCartaoCredito"] = copy_cartao_credito["ValorTotalCartaoCredito"].apply(lambda x: f"{x:,.0f}".replace(",", "."))

display(df_cartao_credito)

    NumeroTransacoesCartaoCredito ValorTotalCartaoCredito
0                     108.889.702          45.240.604.924
1                     159.982.883           1.788.391.587
2                     147.875.334          31.727.844.565
3                     185.810.790           4.251.524.739
4                     163.784.772          47.633.090.269
..                            ...                     ...
96                      3.397.440          33.851.014.378
97                     49.746.934           9.915.718.105
98                     65.116.093          28.893.747.635
99                     57.891.527          33.328.529.868
100                   122.173.989          28.114.206.377

[101 rows x 2 columns]

In [5]:
df_cartao_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   transacoes   101 non-null    float64
 1   valor_total  101 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB

In [6]:
copy_cartao_credito.to_csv("dadosCartao2.csv", index=False, encoding="utf-8")

In [ ]:
df = pd.read_csv(r"C:\Users\uniao\OneDrive\Área de Trabalho\Cursos 2024\Soulcode\Projeto_Metodo_Pagamento\metodo_pagamento.csv")

display(df)

In [ ]:
df_unificado = pd.merge(df_backup, df_cartao, left_index=True, right_index=True, how='inner')

display(df_unificado)

In [ ]:
df_unificado.info()

In [ ]:
df_unificado.astype({'transacoes': float, 'valor_total': float})

In [ ]:
cop_df_unificado = df_unificado.copy()

In [ ]:
cop_df_unificado['transacoes'] = df_unificado['transacoes'].apply(lambda x: f"{x:.2f}")
cop_df_unificado['valor_total'] = df_unificado['valor_total'].apply(lambda x: f"{x:.2f}")