In [ ]:
import pandas as pd
import random

dados_cartao_credito = [
    {"NumeroTransacoesCartaoCredito": random.randint(1000000, 200000000), "ValorTotalCartaoCredito": random.randint(1000000000, 50000000000)}
    for _ in range(101)
]

df_cartao_credito = pd.DataFrame(dados_cartao_credito)

display(df_cartao_credito)

     transacoes  valor_total
0     132999861   3343221244
1      20025029  25315508210
2      29692198  16031503027
3      41384896  39205204175
4      76072253   3827368792
..          ...          ...
96     46846368   7378527495
97     28619561   7043723427
98    172862720  19367028285
99     94256862  28527597634
100    95303834  45773196467

[101 rows x 2 columns]

In [3]:
copy_cartao_credito = df_cartao_credito.copy()

In [4]:
df_cartao_credito["transacoes"] = copy_cartao_credito["transacoes"].apply(lambda x: float(f"{x:.2f}"))
df_cartao_credito["valor_total"] = copy_cartao_credito["valor_total"].apply(lambda x: float(f"{x:.2f}"))

display(df_cartao_credito)

      transacoes   valor_total
0    132999861.0  3.343221e+09
1     20025029.0  2.531551e+10
2     29692198.0  1.603150e+10
3     41384896.0  3.920520e+10
4     76072253.0  3.827369e+09
..           ...           ...
96    46846368.0  7.378527e+09
97    28619561.0  7.043723e+09
98   172862720.0  1.936703e+10
99    94256862.0  2.852760e+10
100   95303834.0  4.577320e+10

[101 rows x 2 columns]

In [5]:
df_cartao_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   transacoes   101 non-null    float64
 1   valor_total  101 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB

In [6]:
copy_cartao_credito.to_csv("dadosCartao2.csv", index=False, encoding="utf-8")

In [ ]:
df = pd.read_csv(r"C:\Users\uniao\OneDrive\Área de Trabalho\Cursos 2024\Soulcode\Projeto_Metodo_Pagamento\metodo_pagamento.csv")

display(df)

In [ ]:
df_unificado = pd.merge(df_backup, df_cartao, left_index=True, right_index=True, how='inner')

display(df_unificado)

In [ ]:
df_unificado.info()

In [ ]:
df_unificado.astype({'transacoes': float, 'valor_total': float})

In [ ]:
cop_df_unificado = df_unificado.copy()

In [ ]:
cop_df_unificado['transacoes'] = df_unificado['transacoes'].apply(lambda x: f"{x:.2f}")
cop_df_unificado['valor_total'] = df_unificado['valor_total'].apply(lambda x: f"{x:.2f}")